<a href="https://colab.research.google.com/github/Fayedyamani107/Tugas-daa-minggu-ke-2-/blob/main/daa_pertemuan_ke_2_np.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import numpy as np

a = [1,2,3]
b =[4,5,6]

hasil = a + b
print(hasil)

[1, 2, 3, 4, 5, 6]

In [ ]:
import numpy as np

#membuat array

nilai_siswa = np.array([85, 55, 40, 90])

#mengakses data pada array
print(nilai_siswa[3])

90

In [ ]:
import numpy as np

def add(list_a, list_b):
    result = []
    for first, second, in zip(list_a, list_b):
        result.append(first + second)
    return result

a = [1, 2, 3]
b = [4, 5, 6]

result = add(a,b)
print(result)

[5, 7, 9]

In [ ]:
import numpy as np
print(np.__version__)

1.23.5

In [ ]:
import numpy as np
#membuat komen huruf besar
##membuat komen huruf kecil/sedang

#membuat text huruf besar
##membuat text huruf sedang/kecil

In [ ]:
print("Hello world")
print("Nama saya fayed")
print("Nim saya 2022071017")

Hello world
Nama saya fayed
Nim saya 2022071017

In [ ]:
if 5>2:
  print("five is greater then two!")

five is greater then two!

In [ ]:
x = 5
y = "jhon"
print(x)
print(y)

5
jhon

In [ ]:
x = 4
x = "sally"
print(x)

sally

In [ ]:
def getFirst(myList):
    return myList[0]

print(getFirst([1,2,3]))

1

In [ ]:
def getsecond(myList):
    return myList[1]

print(getsecond([1, 2, 3]))

2

In [ ]:
def getlast(myList):
    return myList[2]

print(getlast([1, 2, 3]))

3

In [ ]:
def getSum(mylist):
  sum = 0
  for item in mylist:
    sum = sum+item
  return sum

getSum([1, 2, 3, 4])

10

In [ ]:
def getSum(mylist):
  sum = 0
  for item in mylist:
    sum = sum+item
  return sum

getSum([1, 2, 3])

6

In [ ]:
def getSum(mylist):
  sum = 0
  for item in mylist:
    sum = sum+item
  return sum

getSum([1, 2, 3, 4])

10

In [ ]:
def getSum(mylist):
  sum = 0
  for item in mylist:
    sum = sum+item
  return sum

getSum([-7, -3, -5, -4])

-19

In [ ]:
def getKali(myList):
    multiply = 1
    for item in myList:
        multiply = multiply * item
    return multiply

print(getKali([1,2,3,4]))
print(getKali([7, 3, 5, 11, 8, 10]))
print(getKali([-2, 4, 5, -7, 9, 4, 5]))

24
92400
50400

In [ ]:
def getBagi(myList):
    divide = myList[0]
    for item in myList[1:]:
        divide = divide / item
    return divide

print(getBagi([1,2,3,4]))
print(getBagi([7, 3, 5, 11, 8, 10]))
print(getBagi([-2, 4, 5, -7, 9, 4, 5]))

0.041666666666666664
0.0005303030303030304
7.936507936507938e-05

In [ ]:
def avg(mylist):
  sum = 0
  for item in mylist:
    sum = sum+item
  return sum /len(mylist)

print(avg([1,2,3,4]))

2.5
2.5

In [ ]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum + item
    return sum

a = getSum([1,2,3,4])
b = getSum([5,6,7,8])
result = a / b

print(result)